<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drugdosagecalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".unitconversion.Length_converter"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".unitconversion.Mass_Converter"
            android:screenOrientation="portrait"/>
        <activity android:name=".unitconversion.Volume_Converter"
            android:screenOrientation="portrait"/>
        <activity android:name=".unit_conversion"
            android:screenOrientation="portrait"/>
        <activity android:name=".iv_volume_drop_rate"
            android:screenOrientation="portrait"/>
        <activity android:name=".iv_volume_rate"
            android:screenOrientation="portrait"/>
        <activity android:name=".volume_of_liquid"
            android:screenOrientation="portrait"/>
        <activity android:name=".number_of_tablets"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>